/* Color declaration */
:root {
  --lepton-orange: #f44611;
  --valid: #43b581;
  --info: #95acff;
  --warn: #faa61a;
  --error: #e06c75;

  --page-background: #150e1a;
  --widget-border: #221f26;
  --widget-background: #3a3340;
}

/* Font declaration */
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCodeNerdFont-Regular.ttf");
}

/* Element styling */
body, html {
  margin: 0px;
  background-color: var(--page-background);
  font-family: "Fira Code";
  color: var(--lepton-orange);
}

/* Class styling */
